@if(this.isVisible) {
  <section>
    <div class="modal">
      <div class="fechar" (click)="this.closeModal()" >
        <img src="img/icon/close.svg" alt="fechar modal" />
      </div>
      <div class="tipo">
        <div class="img">
          <img [src]="this.gerenciaTipoMensagem(this.alerta.tipo)" alt="Tipo mensagem" />
        </div>
      </div>
      <div class="titulo">
        <h2>{{this.alerta.titulo}}</h2>
      </div>
      <div class="mensagem">
        <p>{{this.alerta.mensagem}}</p>
      </div>
    </div>
  </section>
}
