<header>
  <nav class="menu">
    @if(this.validaRole(this.role)) {
      <div class="botao" routerLink="/lista/usuarios" >
        <span>Usuarios</span>
      </div>
      <div class="botao" routerLink="/lista/enderecos" >
        <span>Endereços</span>
      </div>
    }
    <div class="botao" (click)="this.logout()" >
      <span>Logout</span>
    </div>
    <div class="img" [routerLink]="['/editar/usuario', this.id]" >
      <img src="img/perfil/perfil.png" alt="perfil" />
    </div>
  </nav>
</header>
