/* You can add global styles to this file, and also import other style files */

/* IMPORTANDO FONTS PARA SEU PROJETO, APARTIR DO GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

/* DEIXANDO A MARGIN E PADDING DE SEU WINDOW ZERADO */
* {
    padding: 0;
    margin: 0;

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA SEU PROJETO */
html {
    scroll-behavior: smooth;

}

html, body {
    height: 100%;

    font-family: 'Titillium Web', sans-serif;

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA O H1 */
h1 {
    font-family: 'Amaranth', sans-serif;
    font-size: 44px !important;
    font-weight: 600 !important;

    color: var(--text-title);

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA O H2 */
h2 {
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;

    color: var(--text-title);

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA O H3 */
h3 {
    font-size: 14px;
    font-weight: 400;

    color: var(--text-author);

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA O P */
p {
    color: var(--text-default);

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA O HR */
hr {
    width: 80%;
    height: auto;

    margin-left: 10%;

    border-top: 0px solid var(--border-style-search);
    border-left: 0px solid var(--border-style-search);
    border-right: 0px solid var(--border-style-search);
    border-bottom: 1px solid var(--border-style-search);

}

/* CRIANDO MACROS/VARIAVEIS PARA REUTILIZACAO DE CORES */
:root {
  --text-default: #262626;
  --text-title: #303030;
  --text-input: #6e6e6e;
  --text-author: #00000080;
  --text-white: #f1f1f1;
  --text-white-light: #ffffff;
  --text-link: #191919;
  --text-link-2: #3a08ce;

  --border-style-input: #e8e8e8;

  --background-color-1: #f9f9f9;

  --background-color-button: #3bc;
  --background-color-button-hover: rgb(43, 161, 177);
  --background-color-copyright: #191919;
  --background-color-danger: #d60f0f;
  --background-color-danger-hover: #a01f1f;

  --button-ok: #b4b4b4;

  --font-family-Amaranth: 'Amaranth', sans-serif;

}
